
.wrapper {
    display: flex;
    flex-direction: column;

    gap: 0;
    width: clamp(250px, 20vw, 325px);

    overflow: hidden;
}

.wrapperContent {
    height: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    background-color: var(--fabric-background-primary);

    width: 100%;

    border-radius: 5px;
    overflow-y: auto;

}

.header {
    position: sticky;
    top: 0;
    font-size: .9rem;
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin: 0;

    color: var(--fabric-color-primary);
    padding: 4px 4px 8px;
    border-bottom: var(--fabric-border-primary) 1px solid;

    display: flex;
    align-items: center;
    align-content: center;
    gap: 12px;
    background-color: var(--fabric-background-primary);
    z-index: 999;

}

.row {
    background-color: var(--fabric-background-secondary);
    border-radius: 5px;
}

.row > summary {
    list-style: none;
}



.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.position {
    max-width: 100%;
    display: grid;
}

.form {
    background-color: var(--fabric-background-secondary);
    padding: 24px;

    text-align: left;
    border-radius: 5px;
    display: grid;
    gap: 8px;
    border: var(--fabric-border-primary) 1px solid;
}

.form > legend {
    font-size: .9rem;
    font-weight: 600;
}

.formsWrapper {
    display: grid;
    align-content: flex-start;

    gap: 4px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 4px 4px 32px;
}


.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 6px;
    background-color: var(--fabric-background-quaternary);
    padding: 2px;
    border-radius: 5px;

    overflow-x: auto;
    user-select: none;
    min-height: 25px;
}

.tabButton {
    min-width: 25px;
    width: 25px !important;
    padding: 2px !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tabButton[data-highlight = 'true'] {
    background-color: var(--fabric-background-primary) !important;
}

.refreshButton{
    padding: 4px !important;
    display: flex;
    align-items: center

}
.emptyWrapper{
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

    color: var(--fabric-color-primary);
    font-size: .75rem;
    font-weight: 550;
}