[submodule "editor"]
	path = editor
	url = https://github.com/projection-engine/editor.git
[submodule "views/editor"]
	path = views/editor
	url = git@github.com:projection-engine/editor.git
[submodule "views/files"]
	path = views/files
	url = git@github.com:projection-engine/file-system.git
[submodule "views/scene"]
	path = views/scene
	url = git@github.com:projection-engine/scene.git
[submodule "components"]
	path = components
	url = git@github.com:projection-engine/components.git
[submodule "services/engine"]
	path = services/engine
	url = git@github.com:projection-engine/core.git
