[submodule "views/files"]
	path = views/files
	url = git@github.com:projection-engine/file-system.git
[submodule "components"]
	path = components
	url = git@github.com:projection-engine/components.git
[submodule "services/engine"]
	path = services/engine
	url = git@github.com:projection-engine/core.git
[submodule "views/material"]
	path = views/material
	url = git@github.com:projection-engine/material.git
