.wrapper {
    height: 100vh;
    width: 100vw;

    display: flex;

    overflow: hidden;

    background-color: var(--fabric-background-primary) !important;
}


.modal {
    padding: 8px;
    display: grid;
    gap: 16px;
    width: 500px;
    height: fit-content;
    background: var(--fabric-background-primary);
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    box-shadow: rgba(0,0,0,.2) 2px 2px 10px 2px;
}

.submitButton {
    width: 100%;

}

