.wrapper {
    --size: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: var(--size);
    border-radius: 5px;
    overflow: hidden;


    border: var(--fabric-border-primary) 1px solid;
    color: var(--fabric-color-secondary);
    background: var(--fabric-background-primary);


    transition: 150ms linear;
    font-size: .75rem;
    padding-right: 8px;
}



.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    overflow: hidden;
    height: var(--size);
    margin-right: 16px;

    border-radius: 5px;
    padding: 0 !important;
}


.image {

    height: 100%;

    object-fit: cover;
    max-height: 200px;
    transition: 150ms linear;
}



.button {
    display: flex;
    align-items: center;

    overflow: hidden;
    height: 30px;
    padding: 4px !important;
    gap: 4px;
    color: var(--fabric-color-secondary);
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.date {
    font-weight: normal;
    font-size: .8rem;
}


.data {
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 200px;
}

.onDelete {
    background: var(--fabric-background-primary);
    padding: 8px;

    display: grid;
    gap: 8px;
    font-size: .8rem;
    font-weight: 550;
    color: var(--fabric-color-secondary);

    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 10px 2px;
    transform: translateY(75%);
}

.modal {
    padding: 8px;
    display: grid;
    gap: 16px;
    width: 500px;
    height: fit-content;
    background-color: var(--fabric-background-primary);
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

.section {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.dataRow {
    height: 50% !important;
    overflow: hidden;
    background: transparent !important;
    border: none !important;
    width: 100%;

}
