
.wrapper {
    width: 100%;
    padding: 0 5%;
    position: relative;
    background-color: var(--fabric-background-secondary);
    height: 100%;
    border-radius: 5px;
    border: var(--fabric-border-primary) 1px solid;
}

.titleWrapper {
    color: var(--fabric-color-secondary);
    font-size: 1.5rem;
    font-weight: 550;
    font-family: Roboto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 4vh;
    padding-bottom: clamp(32px, 2vh, 128px);

    overflow: hidden;
    max-width: 100%;
}

.title {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.optionsWrapper{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
    overflow: hidden;
    max-width: 100%;

}

.content {
    display: grid;
    height: fit-content;

    gap: 3px;
    align-items: flex-start;

}

.button {


    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    font-weight: 550;
    overflow: hidden;
    max-width: 100%;


}

.emptyWrapper {
    color: var(--fabric-color-tertiary);

    display: grid;
    justify-content: center;
    justify-items: center;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}