
.alertContent{
    color: var(--fabric-color-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--fabric-background-quaternary);
    display: flex;
    flex-direction: column;
    padding: 2px;
    user-select: none;
}

.viewportWrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    gap: 0;
    padding: 3px 0 0 0;

}

.container{
    border-radius: 5px;
    background: var(--fabric-background-primary);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}