.wrapper {
    display: flex;
    height: 100%;
    width: 100%;

    padding: 3px 0 0 0;


}

.controlsWrapper {
    width: 35%;
    background-color: var(--fabric-background-primary);
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;

    border-radius: 5px;

}

.summary {
    background-color: var(--fabric-background-secondary) !important;
}