.wrapper {
    height: 100vh;
    width: 100%;

    display: flex;


}

.options {
    display: grid;
    gap: 8px;
    padding: 8px;
    align-items: flex-start;
    align-content: flex-start;

    background-color: var(--background-3);
}

.optionButton {
    height: clamp(75px, 10vh, 135px);
    width: clamp(250px, 15vw, 350px);
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    padding: 10px !important;
    font-size: 1rem !important;
    font-weight: bold;

    background-color: var(--background-2) !important;
}

.logoWrapper {
    user-select: none;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    margin-bottom: 32px;
}

.logo {
    height: clamp(75px, 8vh, 100px);
    width: clamp(75px, 8vh, 100px);
    border-radius: 5px;
    display: flex;
    place-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    animation: popImage 350ms ease-in-out forwards;
}

.logoTitle {
    color: var(--fabric-color-primary);
    animation: slideText 350ms ease-in-out forwards 350ms;
    opacity: 0;
    transform: translateX(-100%);
    position: relative;
    z-index: 0;

    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Roboto" !important;

}


@keyframes popImage {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideText {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.footer {
    position: absolute;
    bottom: 8px;
}

.footerIcon {
    padding: 8px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.footerIcon > * {
    width: 40px;
    height: 40px;
}

.footerButton {
    padding: 0 !important;
}

.masonryWrapper {
    width: 100%;
    padding: 0 5%;
    position: relative;
}

.masonryTitle {
    color: var(--fabric-color-primary);
}


.empty {
    user-select: none;

    top: 50%;
    left: 50%;
    font-size: .9rem;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: flex-end;
    gap: 4px;
    color: var(--fabric-color-tertiary);

}
.modal{
    padding: 8px;
    display: grid;
    gap: 16px;
    width: 500px;
    height: fit-content;
    background-color: var(--fabric-background-primary);
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}
.submitButton{
    width: 100%;

}

.card{
    display: grid;
    gap: 4px;

}
.preview{
    max-height: 100%;
    overflow: hidden;

    width: 100%;

    display: flex;
    place-content: center;
    border-radius: 5px;

}
