.wrapper {
    width: 35%;
    background-color: var(--fabric-background-primary);
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 4px;

    border-radius: 5px;
}