.image {
    object-fit: cover;
}

.imageWrapper {
    overflow: auto;
    height: fit-content;
    max-height: 100%;
    background: var(--fabric-background-quaternary) radial-gradient(var(--fabric-background-primary) 1px, transparent 0);
    background-size: 20px 20px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3px 0 0 3px;
}

